$busred: #dc2521;
$busgrey: #414b55;
$primary-shadow: 5px 10px 0px black;
$secondary-shadow: 5px 5px 0px $busgrey;

@font-face {
  font-family: "unibody";
  src: url("./src/assets/fonts/unibody.woff2");
  src: url("./src/assets/fonts/unibody.woff");
  src: url("./src/assets/fonts/unibody.ttf");
}

@mixin display_flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@mixin display_flex_column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
