@import "../../../variables.scss";

.DeparturesSection {
  @include display_flex_column;
  justify-content: space-between;
  width: 1080px;
  @media screen and (max-width: 1082px) {
    width: 98%;
  }
  height: 40vh;
  box-shadow: $secondary-shadow;
  background-color: black;
  border: 1px solid black;

  * {
    font-family: unibody;
  }
}

.DeparturesTitle {
  width: 80%;
  @include display_flex_column;
  margin: 0;
  height: 20%;
  font-size: 12px;
  @media screen and (min-width: 550px) {
    font-size: 14px;
  }
}
.StopName {
  height: 50%;
  text-align: center;
  color: orange;
  vertical-align: middle;
}

.DeparturesList {
  height: 80%;
  width: 80%;
  overflow: auto;
  color: orange;
  text-align: center;
}

.Placeholder {
  font-family: Raleway;
  font-size: 18px;
  margin: 10% auto;
  color: $busgrey;
}
