@import "../../../variables.scss";

.Header {
  @include display_flex_row;
  position: relative;
  top: 0;
  left: 0;
  height: 12vh;
  width: 100vw;
  background-color: $busgrey;
  box-shadow: $primary-shadow;

  img {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    margin-left: 1vh;
    margin-top: 1vh;
    @media screen and (max-width: 700px) {
      display: none;
    }

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  h1 {
    text-align: center;
    font-family: unibody;
    color: white;
    .red {
      color: $busred;
    }

    font-size: 40px;
    vertical-align: middle;
    margin: 0;
    text-shadow: 5px 5px 0 black;

    &::after {
      text-shadow: none;
      content: attr(data-subheading);
      display: inline-block;
      position: absolute;
      text-align: center;
      font-size: 0.4em;
      font-weight: normal;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      left: 25%;
      right: 25%;
      top: 75%;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    img {
      height: 1em;
      box-shadow: $primary-shadow;
    }
  }
}
