body {
  margin: 0;
  font-family: "Raleway", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "unibody";
  src: url("./assets/fonts/unibody.woff2");
  src: url("./assets/fonts/unibody.woff");
  src: url("./assets/fonts/unibody.ttf");
}
