@import "../../../variables.scss";

#Map {
  width: 1080px;
  @media screen and (max-width: 1081px) {
    width: 100%;
  }
  height: 40vh;
  box-shadow: $secondary-shadow;
  border: 0.5px solid $busred;
}
